/* You can add global styles to this file, and also import other style files */
.text1
{
    height: 50%;
    position:absolute;
    top: 30%;
    color: white;
    font-size: 80;
    width: 80%;
    left: 40%;
    font-weight: bold;
    font-family: impact, sans-serif;
}
.background
{
    background-color: black;    
}
.startButton
{
    border-style: solid;
    border-color: red;
    background-color: red ;
    color:black;   
    font-size: 40px;
    border-radius: 10px;    
    position: absolute;
    top: 55%;
    left: 45%;
    padding: 3px 15px;
}

#seconds, #tens{
    font-size:2em;
}